<div class="page-background clearfix">
  <div class="clearfix col-sm-offset-2 col-sm-8 no-padding page-body-background">
    <ul class="col-sm-3 category-nav">
      
    </ul>
    <div class="col-sm-9 no-padding category-background">
    </div>
  </div>
</div>
